@import '../../styles/common'

header
  height $MAIN_HEADER_HEIGHT 
  line-height @height
  background-color $COLOR_BLUE
  color $COLOR_WHITE
  display table
  width 100%
  > *
    display table-cell
  a
    color $COLOR_WHITE
    width 60px
    padding 0 15px
.login-wrapper
  margin 30px
  .submit
    width 100%