@import '../../assets/styles/variables.sss'

.i18nWrapper
  margin: 15px
  padding: 15px
  border: 1px solid $COLOR_GRAY
  background-color: $COLOR_WHITE
  table
    thead
      th
        text-transform: capitalize
        text-align: center
    tbody
      td
        text-align: center
    a
      margin: 0 5px
      display: inline-block
  
.form
  width: 600px
  margin: auto