@import '../../styles/basic'

header
  mainHeader()
  .login .iconfont
    font-size 18px
form
  margin 15px 30px
  input
    width 100%
    margin-bottom 15px !important
  button
    border none
    width 100%
    line-height 2