@import './common'

mainHeader()
  height $MAIN_HEADER_HEIGHT 
  line-height @height
  background-color $COLOR_BLUE
  color $COLOR_WHITE
  position relative
  overflow hidden
  a
    color $COLOR_WHITE
  .iconfont
    font-size 28px
  .left, .right
    width $MAIN_HEADER_HEIGHT
    position absolute
    top 0
    height 100%
  .left
    left 0
  .right
    right 0