@import '../../assets/styles/variables.sss'

.navWrapper
  width: $MAIN_NAV_WIDTH
  position: fixed
  left: 0
  top: 0
  bottom: 0
  background-color: $COLOR_BLACK

.logo
  color: $COLOR_WHITE
  line-height: $MAIN_HEADER_HEIGHT
  text-indent: 15px