@import '../../styles/common'

.main-header-wrapper
  height $MAIN_HEADER_HEIGHT 
  line-height @height
  background-color $COLOR_BLUE
  color $COLOR_WHITE
  position relative
  a
    color $COLOR_WHITE
  .user
    position absolute
    right 0
    top 0
    padding 0 15px
  .back
    width $MAIN_HEADER_HEIGHT
    position absolute
    left 0
    height 100%
    font-size 28px
