@import '../../styles/common'

.main-header-wrapper
  height $MAIN_HEADER_HEIGHT 
  line-height @height
  background-color $COLOR_BLUE
  color $COLOR_WHITE
  display table
  width 100%
  > *
    display table-cell
  a
    color $COLOR_WHITE
  .user
    width 80px
  .back
    width $MAIN_HEADER_HEIGHT
